.currMatchBox {
    padding: 0 50px;
}

.currMatchBox h2 {
    font-size: 17pt;
}

.currMatchList {
    padding: 0;
    list-style: none;
    height: 250px;
}

.currMatchList li {
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}